<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- here are the contents! your navbar didn't show you anything -->
  <!-- because you didn't feed any contents into your navbar -->

  <a class="navbar-brand" href="#">Bike Store</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Vehicles
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'all_vehicles' %}">View all</a>
          <a class="dropdown-item" href="{% url 'add_vehicle' %}">Add vehicle</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Customers
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'all_customers' %}">View all</a>
          <a class="dropdown-item" href="{% url 'add_customer' %}">Add customer</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Rental
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'all_rental' %}">View all</a>
          <a class="dropdown-item" href="{% url 'add_rental' %}">Add rental</a>
        </div>
      </li>
    </ul>
  </div>
</nav>